<%= form_for @invite , :url => invites_path do |form| %>
  <% if invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invite.errors.count, "error") %> prohibited this invite from being saved:</h2>

      <ul>
      <% invite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>






  <div class="form-group">
    <%= form.label :invite_id %>
    <%= collection_select(:invite, :booking_id, Booking.where(status:"In Use").to_ary, :id, :name, {}, { class: "form-control" }) %>
  </div>


  <div class="actions">
    <%= form.hidden_field :booking_id, :value => @invite.booking_id %>
    <%= form.label :email %>
    <%= form.email_field :email %>
    <%= form.submit %>
  </div>

<% end %>
