<h1>Room Details</h1>
<% provide(:title, "Room Details") %>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @room.location %>
</p>

<p>
  <strong>Status:</strong>
  <%= @room.status %>
</p>

<p>
  <strong>Capacity:</strong>
  <% puts @room.capacity %>
  <% puts 'charith' %>
  <%= @room.capacity %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
